.blog__search {
    margin-bottom: 80px;
}
.blog__search .search {
    border: 1px solid #c6c6c6;
    padding: 15px 30px;
    border-radius: 50px;
    min-width: 300px;
}
.blog__search .button {
    width: 47px;
    height: 47px;
    /* background-image: url(../../asset/img/blog/search.svg); */
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
.blog__search .button:hover {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
}

.post {
    display: flex;
    justify-content: center;
}
.blog__cont .blog {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.blog__header {
    width: 67%;
    margin-bottom: 10px;
}

.blog__header img {
    object-fit: cover;
    border-radius: 10px;
}

.blog__body {
    width: 67%;
    text-align: left;
}
.blog__cate {
    background: rgb(245, 117, 138);
    border-radius: 20px;
    padding: 3px 15px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}
.blog__title {
    font-size: 26px;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.blog__desc {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.blog__info {
    color: #777;
}
.blog__info a {
    color: #777;
    text-decoration: underline;
    text-underline-position: under;
}

.blog__info .date {
    float: right;
}
