#header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    min-width: 1200px;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 20% 65% 15%;
}
#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    display: inline-block;
    padding: 20px 30px;
    position: relative;
    transition: background 0.4s;
}
#header .menu li a:hover {
    background: #f5f5f5;
    border-radius: 10px;
}

#header .member {
    text-align: right;
    padding: 10px 18px;
    display: flex;
    align-items: center;
}
#header .member img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#header .member span {
    padding-left: 20px;
}